{% extends 'layout.twig' %}
{% block title %}GitList{% endblock %}

{% block body %}
{% include 'navigation.twig' %}

<div class="container">
	
	{% if form == 'admin' %}
	<form class="form-signin" method="post" action="{{ path('admin_login_check') }}">
	{% endif %}

	{% if form == 'user' %}
	<form class="form-signin" method="post" action="{{ path('login_check') }}">
	{% endif %}
				
		{% if error != '' %}
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert">×</a>
				{{error}}. 
			</div>
		{% endif %}		
		
		<h2 class="form-signin-heading">Login</h2>
		<p>
			To see the corresponding GitList you need to login. You can login as user or admin.
		</p>
		<input type="text" class="input-block-level" placeholder="Name" name="_username">
		<input type="password" class="input-block-level" placeholder="Password" name="_password">
		<button class="btn btn-large btn-primary input-block-level" type="submit">
			Login
		</button>
	</form>
</div>

<!-- /container -->
{% endblock %}
